* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* BUTTON */
button {
    font-weight: bold;
    padding: 0.625rem 1rem;
    background: #FCB741;
    border-radius: 0.5rem;
    border: 0;
    color: black;
}

/* HEADER */ 
header {
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/logo.jpg);
}

header nav span {
    color: #EE6055;
}

#header-content {
    max-width: 25rem;
    margin: 9.375rem auto;
    text-align: center;
    color: black;
    font-weight: bold;
    font-weight: bold;
}

#header-content h1 {
    margin-bottom: 1rem;
}

#header-content p {
    margin: 1rem;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 0 0 1rem;
}

/* MENU */

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 2rem;
    color: black;
    font-weight: bold;
    padding: 0;
}

nav p {
    font-weight: bold;
}

/* MEDIA */
@media (max-width: 670px) {
    header {
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../assets/logo-cel.jpg);
    }

    ul #navigation {
        margin: 0;
    }

    #menu {
        display: flex;
        align-items: center;
        padding-top: 0.75;
        margin-left: 0;
        margin-right: 0;
        padding: 0.5rem 0.75rem 0 0.75rem;
        justify-content:space-between
    }

    #home {
        font-size: 1rem;
        font-weight: bold;
    }
    
    #navigation{
        font-size: 1rem;
        font-weight: bold;
    }
}